@{
    ViewBag.Title = "About";
}
<u><h2>Tournament Rules and Regulations</h2></u>
<br />
<p></p>
RULES and REGULATIONS - Milwaukee Bassers 2019

100 Percent Payout

Entry Fees for each club tournament is $70/boat. A big bass entry fee (optional) will be $10.00/boat, Winners takes all.  All Non-members will be charged an extra $20.00/boat fee.

There will be a check in time before launching on tournament day. Check in time will be 30-60 mins before scheduled time of tournament day. Also a mandatory live well checked will be done during ease off.

Pre Fishing cut off will be on the day of the Tournament date.

Each Team will be given numbers to determine boat order during Check in.  Order of Boat ease off will be based off a live bingo draw the day before tournament hours.

Tournament hours are expected to be 6:00AM – 2:30PM. Hours May Vary
Official times will be announced prior to each tournament day.

Ease off location and weigh in location for each tournament will be announced on tournament day.

Anyone arriving late to the ease-off will need to contact the tournament director(s) to notify them of being late. This also applies to having a team member being late. You must notify one of the admins if so.
Bee
Mikey
Chou Lee

SAFETY AND BOAT EQUIPMENT
Each competitor is required to wear a Coast Guard approved life preserver any time the combustion engine is operating. The preserver must be strapped, snapped, zippered, or buckled securely and maintained in that condition until the combustion engine is turned off. Violation of this rule will result in an immediate disqualification of the team. NO EXCEPTIONS!

All boats are required to have all necessary safety and boating equipment that is mandated by the WI DNR.

All boats are required to have operating livewells. Either re-circulating or flow through.


RULES
The decision of the tournament director and its officials shall be final in all matters

2-3 person maximum per boat/team.