@model FishingProject.Models.ContactFormModel

@{
    ViewBag.Title = "Contact";
}

<br />
<br />
<h3 style="text-decoration: underline">CONTACT FORM</h3>
<br />
<form action="Contact" method="post" onsubmit="buttonSubmit()">
    <fieldset>
        <div class="form-group">
            <input type="text" name="Name" class="form-control" placeholder="Enter Name" style="width:50%" />
        </div>
        <div class="form-group">
            <input type="text" name="Email" class="form-control" placeholder="Enter Email" style="width:50%" />
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="3" name="Message" style="width:50%" placeholder="Enter Message Here"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send Message</button>

        <script>
            function buttonSubmit() {
                alert("Message Sent!");
            }
        </script>
    </fieldset>
</form>
