@{
    ViewBag.Title = "Home Page";
}
<br />
<center>
    <body>
        <img src="~/Content/image/milwaukeebassers.png" width="500" height="375" style="opacity: .6"/>
        <b><p>Come out and experience our tournaments ran by our organization.  We'll make sure you'll have a great time, and meet some new people in the bass fishing communtiy.</p></b>
    </body>
</center>

<br />
<br />
